%h3{:style=>"margin-top:100p;text-align:center;"}
    Found a bug? have a comment? please send us your bug report to
    %a{:href=>"mailto:contant@projectraindops.net"}
        contact@projectraindrops.net

    %br
    Thanks for helping!
