#logout
    %a{:href => "/logout"} Log out

#welcome
    Welcome back #{user[:name]}, you are user_id: #{user[:id]}

%h1 kickstarts
#kickstarts
%a{:href => "/new/kickstart"} New Kickstart


%h1 configs
#configs
%a{:href => "/new/config"} New Config


%h1 jobs
#jobs
%a{:href => "/new/job"} New Job

