%h1 New Job

- if errors
    .errors.alert.alert-error
        %ul
            - errors.each do |field, error_list|
                %li
                    field <b>#{field}</b>:
                    %ul
                        - error_list.each do |error_msg|
                            %li
                                =error_msg

%form.new_resource{:action => "/job", :method => "post"}
    %table
        %tr
            %td
                Name
            %td
                %input{:type => "text", :name => "name", :value => job[:name]}

        %tr
            %td
                Kickstart
            %td
                %select{:name => "kickstart_id"}
                    %option
                    - kickstarts.each do |kickstart|
                        %option{:value => kickstart[:id], :selected => (kickstart[:id] == job[:kickstart_id])}
                            = kickstart[:name]

        %tr
            %td
                Cfg
            %td
                %select{:name => "cfg_id"}
                    %option
                    - cfgs.each do |cfg|
                        %option{:value => cfg[:id], :selected => (cfg[:id] == job[:cfg_id])}
                            = cfg[:name]

    %input{:type => "submit"}


