%h1 New Job

- if errors
    %errors
        %ul
            - errors.each do |field, error_list|
                %li
                    field <b>#{field}</b>:
                    %ul
                        - error_list.each do |error_msg|
                            %li
                                =error_msg

%form{:action => "/job", :method => "post"}
    #name
        name
        %input{:type => "text", :name => "name", :value => job[:name]}

    #kickstart
        kickstart
        %select{:name => "kickstart_id"}
            %option
            - kickstarts.each do |kickstart|
                %option{:value => kickstart[:id], :selected => (kickstart[:id] == job[:kickstart_id])}
                    = kickstart[:name]
    #cfg
        cfg
        %select{:name => "cfg_id"}
            %option
            - cfgs.each do |cfg|
                %option{:value => cfg[:id], :selected => (cfg[:id] == job[:cfg_id])}
                    = cfg[:name]

    %input{:type => "submit"}


