!!! 5
%html(lang="en")
    %head

        <!-- Bootstrap -->
        %link{:href=>"/css/bootstrap.min.css", :rel=>"stylesheet"}
        %link{:href=>"/css/font-awesome.min.css", :rel=>"stylesheet"}

        %script{:type=>'text/javascript',
            :src=>'//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'}
        %script{:type=>'text/javascript', :src=>'/js/bootstrap.min.js'}
        <!-- End Bootstrap -->

        <!-- dataTables -->
        %script{:type=>'text/javascript', :src=>'/js/jquery.dataTables.min.js'}
        %script{:type=>'text/javascript', :src=>'/js/DT_bootstrap.js'}
        %link{:href=>"/css/DT_bootstrap.css", :rel=>"stylesheet"}
        <!-- End dataTables -->

        %script{:type=>'text/javascript', :src=>'/js/raindrops.js'}
        %link{:href=>"/css/raindrops.css", :rel=>"stylesheet"}
        %title Raindrops

        <!-- specific resources -->
        = load_resources
        <!-- End specific resources -->
    %body
        .container
            .navbar.navbar-inverse.navbar-fixed-top
                .navbar-inner
                    .container
                        %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
                            %span.icon-bar
                            %span.icon-bar
                            %span.icon-bar

                        %a.brand{:href => "/"} Raindrops

                        .nav-collapse.collapse
                            %ul.nav
                                %li.active
                                    %a{:href => "/"} Home
                                %li
                                    %a{:href => "/job"}
                                        %i.icon-plus-sign
                                        &nbsp;Job
                                %li
                                    %a{:href => "/cfg"}
                                        %i.icon-plus-sign
                                        &nbsp;Cfg
                                %li
                                    %a{:href => "/kickstart"}
                                        %i.icon-plus-sign
                                        &nbsp;Kickstart
                            %ul.nav.pull-right
                                %li.dropdown
                                    %a.dropdown-toggle(data-toggle="dropdown" href="#contact")
                                        = session[:user][:name]
                                        %b.caret
                                    %ul.dropdown-menu
                                        %li
                                            %a{:href => "/logout"} Log out

        .container.main-container
            =yield
