!!!
%html
    %head
        %script{:type=>'text/javascript', :charset=>'utf-8',
            :src=>'//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'}
        %script{:type=>'text/javascript', :charset=>'utf-8',
            :src=>'/js/raindrops.js'}
        %title Raindrops
    %body
        =yield
