%h1 New Kickstart

- if errors
    %errors
        %ul
            - errors.each do |field, error_list|
                %li
                    field <b>#{field}</b>:
                    %ul
                        - error_list.each do |error_msg|
                            %li
                                =error_msg


%form{:action => action_url, :method => 'POST'}
    %table
        %tr
            %td
                name
            %td
                %input{:type => 'text', :name => "name", :value => kickstart[:name]}
        %tr
            %td
                body
            %td
                %textarea{:name => "body"}
                    = kickstart[:body]

    %input{:type => "hidden", :name => "id", :value => kickstart[:id]}
    %input{:type => "hidden", :name => "_method", :value => action_method}
    %input{:type =>"submit"}

- if revs.count > 0
    %h2 Old revisions
    %ul
    - revs.each_with_index do |rev,i|
        - next if i == 0
        %li
            %a{:href=>"/kickstart/#{kickstart[:id]}/rev/#{rev[:id]}"}
                =rev[:created_at]
